body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;

  section {
    width: 99vw;
    height: 100vh;
    background-color: #C6EBC9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .workarea {

      margin: 0 auto;
      max-width: 1200px;

      header {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        margin-top: 135px;

        .logo {
          display: inherit;
          flex-wrap: wrap;

          align-items: center;
          margin-right: 50px;

          .logo-image {
            display: inherit;
            flex-wrap: wrap;
            width: 100px;
            height: 100px;
            background: #000000;
            border-radius: 50px;

            h2 {

              margin: 25px 0 0 25px;
              width: 50px;
              height: 50px;
              font-style: normal;
              font-weight: bold;
              font-size: 36px;
              line-height: 44px;
              color: #FFFFFF;

            }

          }

          #logo-text {
            padding-left: 30px;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 29px;
            color: #000000;

          }

        }

        nav {

          display: inherit;
          font-weight: 500;
          font-size: 18px;
          a {
            color: inherit;
            text-decoration: none;
            margin-left: 30px;
            h4 {
              font-weight: 500;
            }
          }


        }

        .phone {
          display: inherit;
          flex-wrap: wrap;
          .phone-img {
            padding-left: 50px;
            width: 30px;
          }
          .phone-number {
            padding-left: 10px;
          }
        }
      }

      .main {
        display: flex;
        margin-top: 100px;
        flex-wrap: wrap;
        justify-content: center;
        .offer {

          display: inherit;
          flex-direction: column;

          max-width: 500px;

          p {
            font-size: 18px;
          }
          .button {
            display: inherit;
            margin-top: 30px;
            width: 280px;
            height: 70px;
            background: linear-gradient(94.48deg, #944E6C 9.17%, #433D3C 93.66%);
            box-shadow: 0px 9px 50px rgba(148, 78, 108, 0.5);
            border-radius: 50px;
            a {
              display: inherit;
              text-decoration: none;
              margin: 0 auto;
              p {
                display: inherit;
                padding-top: 5px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                color: #FFFFFF;
              }
            }

            &:hover {
              background: #FFFFFF;
              box-shadow: none;
              p {
                transition-duration: .5s;
                color: #000000;
              }
            }
          }
        }
      }
      .main-image {
        display: flex;
        width: 500px;
        height: 500px;
        object-fit: cover;
        border-radius: 500px;
        transition-duration: .2s;
        margin-left: 100px;
        margin-top: -50px;
        &:hover {
          transition-duration: .5s;
          width: 550px;
          height: 550px;
        }
      }
    }
  }

  @media (max-width: 1110px) {
    section {
      height: 150vh;
      .workarea {
        header {
          justify-content: center;
          flex-direction: column;
          .logo {
            margin: 0;
          }
          nav {
            min-width: 400px;
            justify-content: space-between;
            a {
              margin: 0;
            }
          }
          .phone {
            .phone-img {
              padding: 0;
            }
          }
        }
        .main {
          margin: 0;
          justify-content: center;
          text-align: center;
          .offer {
            justify-content: center;
            .button {
              justify-content: center;
              margin:  0 100px 0 100px;
            }

          }
          img {
            margin: 0;
            margin-top: 100px;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    section {
      max-width: none;

    }
    .workarea {
      max-height: none;
    }
    img {
      max-width: 300px;
      max-height: 300px;
    }
  }
  @media (max-height: 500px) {

  }
  @media (max-width: 767px) {

  }
  .two {
    background-color: #FFFFFF;
  }
}


